#canvas {
  border: 1px solid;
  width: 90vw;
  height: 80vh;
  margin: 30px auto;
}

/* Toolbar */

#toolbar {
  background: #146dff;
}

#flyPaper {
  /* position: fixed; */
  z-index: 100;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: transparent;
  border: 2px solid red;
  /* opacity: 0.7; */
  /* pointer-event: none; */
}
