#canvas {
  border: 1px solid;
  width: 90vw;
  height: 80vh;
  margin: 30px auto;
}

.element-node rect {
  width: 260px;
  height: 120px;
  stroke: black;
  stroke-width: 2;
}

.element-node .label {
  font-size: 13px;
  transform: translate(60px, 20px);
}

.port {
  transform: translate(50px, 20px);
  fill: #000;
}
